* {
  box-sizing: border-box;

  font-family: BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
}
body{
  min-width: 1020px;
}
nav {
  display: flex;
  height: 53px;
  margin-bottom: 25px;
  background: #24292e;

  align-items: center;
}
.nav-content {
  display: flex;
  padding: 0 230px;
  align-items: center;
  justify-content: space-around;
}
.search-bar {
  width: 300px;
  height: 30px;
  margin-right: 20px;
  padding-left: 10px;
  font-size: 14px;
  color: #8c8e91;
  border: none;
  border-radius: 3px;
  background: #404448;


}
nav a {
  margin-right: 20px;
  font-size: 14px;
  text-decoration: none;
  color: #c8c9ca;
}
nav a:hover {
  color: #fff;
}
.navPic{
  width: 20px;
  border-radius: 5px;
}
.nav-content .octicon-mark-github{
  font-size: 32px;
  color: #FFF;
}
.octicon{
  color: #C8C9CA;
}
.octicon-location, .octicon-mail{
  color: #586069;
}
.dropDown1{
  margin-right: 10px;
}
.container {
  display: flex;
  margin-bottom: 30px;
  padding: 0 100px;
  font-size: 15px;
  font-weight: 400;
  color: #586069;
}
.row-6 {
  display: flex;
  flex: 1 1 25%;
}
.profile{
  /*margin-bottom: -3px;*/
}
.profPic {
  height: 230px;
  border-radius: 5px;
}
.profName {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: 500;
  color: #000;
}
.profUser {
  margin: 0px;
  font-size: 20px;
  font-weight: 300;
}
.profBio {
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 300;

}
.profList{
  padding: 25px 0px;
  border-top:solid 1px #d1d5da;
  border-bottom: solid 1px #d1d5da;
}
.profLocation {
  display: inline;
  font-size: 15px;
  font-weight: 400;
}
.profEmail {
  display: inline;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #0366d6;

}

.column2 {
  flex: 1 1 75%;
  padding: 23px;
}
.tabs {
  display: flex;
  margin-bottom: 20px;
  padding-left: 10px;

  align-items: center;
  justify-content: flex-start;
}

.tabs a {
  margin: 0 20px;
  font-size: 15px;
  font-weight: 400;
  color: #586069;
}
.search {
  padding: 20px 0;
  border-top: solid 1px #d1d5da;
  border-bottom: solid 1px #d1d5da;
}
.search input {
  width: 380px;
  height: 33px;
  margin-right: 20px;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: 200;
  color: #afb3b9;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}
select {
  height: 33px;
}
button {
  width: 72px;
  height: 33px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background: #29a946;
}
.tabs a {
  text-decoration: none;
  color: black;
}
.repoElement {
  display: flex;
  list-style-type: none;

  flex-flow: column nowrap;
}
.repoTitle {
  flex: 1 1 100%;
  margin-bottom: 15px;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: #0366d6;

  order: -2;
}
.repoTitle:hover {
  text-decoration: underline;
}
.repoLanguage {
  margin-right: 30px;
  font-size: 14px;
}
.repoUpdate {
  font-size: 14px;
}
.repoElement li {
  display: flex;
  padding: 25px 0;
  border-bottom: solid 1px #d1d5da;

  flex-flow: row wrap;
}
footer {
  display: flex;

  justify-content: space-around;
}
.footPic .octicon-mark-github{
  font-size: 25px;
  margin: 0 150px;
}
.footer-content {
  padding: 40px 230px;
  border-top: solid 1px #d1d5da;
}
footer span {
  font-size: 12px;
}
footer a {
  font-size: 12px;
  color: #0366d6;
}
.circle {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 50%;

  order: -1;
  align-self: center;
}
